body{
    background: lightblue;
}
header{
    font-size: 30px;
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background: white;
    padding: 9px;
    margin: auto;
    width: 400px;
    
}
footer{
    color: white;
    text-align:center;
}
select#lista{
    width: 150px;

}