body{
    background: rgb(167, 167, 215);
    font: normal size 15px;
    
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 9px;
    padding: 10;
    width: 350px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font-size: 30px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}